// i.e., delos means delos.scss
// Order matters; we use delos as first.
@use "../../../../../../templates/default/delos" as delos with (
		$il-web-font-path: "../../../../../../templates/default/fonts/",
		$il-icon-font-path: "../../../../../../templates/default/fonts/bootstrap/",
		$il-main-color: #00509b,
		//$il-main-bg: #f7f7f7,
		//$il-main-dark-bg: #ccdceb,
		$il-mainbar-btn-bg-color: darken(#00509b, 10%),
		$il-footer-bg-color: #cccccc,
		//$il-page-bg: #f7f7f7,
		$il-standard-page-header-bg-color: #f7f7f7,
		$il-highlight-bg: rgba(76, 101, 134, 0.3),
);

// Custom variables file needs to be included after the delos file
// In custom variables you can add/edit colors, sizes, etc.
@use "pages/login";
@use "layout/background";
@use "components/breadcrumb";
@use "components/maincontrols";
@use "settings/mainbar";

// Adjust logo size
.il-logo img {
		width: 40px;
}
// remove white box above the main content
.ilc_media_cont_BlockStartseiteOben {
	margin-bottom: 0; /* Add this line to remove the white box */
}
