//== Header
//
//## Custom LUH Header with Xmas styling

.header-inner {
  align-items: center;
  background-image: url("images/xmas-header-2024.png");
  background-size: auto 150%;
  background-position: left top; /* Align the image to the top-left corner */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}




